html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* fixed nav shrink on scroll */

header {
  z-index: 9999;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

/* desktop shrinked nav */

header.shrink {
  margin: -2em 0;
}

header.shrink .logo {
  margin-top: 1.8em;
}

header.shrink h1 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 7%;
}

header.shrink nav {
  margin-top: 4.5em;
}

header.shrink img {
  width: 4.5em;
  height: 4.5em;
}

header.shrink .nav-menu li {
  margin-top: 0;
  margin-left: 58rem;
}

header.shrink .nav-menu li > a {
  font-size: 1.3em;
}

/* mobile shrinked nav */

header.shrink-mobile img {
  width: 200%;
}

header.shrink-mobile .burger {
  margin-top: -.5rem;
}

header.shrink-mobile .logo-img {
  width: 4.5em;
  height: 4.5em;
  margin-top: 0.5%;
}

/* logo styles */

.logo {
  float: left;
  width: 30%;
  cursor: pointer;
}

.logo a {
  display: flex;
  text-decoration: none;
}

.logo img {
  width: 5.2em;
  height: 5.2em;
  padding: 5%;
}

.logo h1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2.1rem;
  letter-spacing: 0.025rem;
  color: #262626;
}

/* desktop nav */

.main-nav {
  margin-top: -0.5%;
}

.nav-menu {
  list-style-type: none;
  font-family: "Roboto";
}

.nav-menu li {
  margin-left: 55rem;
  font-weight: 500;
  margin-top: 4%;
}

.nav-menu li > a {
  text-decoration: none;
  color: #262626;
  margin-right: 4%;
  font-size: 1.5em;
}

.nav-options:hover {
  color: #0363a2;
}

/* mobile nav */

.show {
  display: flex !important;
}

.hide {
  display: flex !important;
}

.drop-down {
  display: none;
}

.burger {
  filter: invert(1);
  cursor: pointer;
  margin-right: 5rem;
  margin-top: 2rem;
  float: right;
}

.burger img {
  width: 225%;
  font-weight: 900;
}

.mobile-menu {
  background-color: #f3c38e;
  width: 100%;
  height: auto;
  font-family: "Roboto";
  display: none;
  flex-direction: column;
  right: 0;
  margin-right: 10px;
  margin-top: 60px;
  z-index: 99;
  padding-top: 5%;
  border-bottom: 1px solid #262626;
}

.mobile-menu a {
  color: #262626;
  text-decoration: none;
  text-align: center;
  font-size: 1.7em;
  font-weight: 700;
  padding-bottom: 5%;
}

.mobile-menu a:hover {
  color: #0363a2;
}

/* hero styles */

.hero {
  position: relative;
}

.hero-img{
  filter: saturate(1.3);
}

.hero h1 {
  position: absolute;
  top: 16%;
  color: white;
  font-size: 4.5rem;
  font-family: "Roboto";
  width: 100%;
  text-align: right;
  margin-left: -3.5%;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

/* about style */

#about {
  padding-bottom: 15%;
  padding-top: 50px;
  margin-top: -50px;
}

#about h1 {
  font-family: "Roboto";
  font-size: 3.5em;
  font-weight: 500;
  margin: 4%;
  text-align: center;
  color: #262626;
}

.about-container {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  margin-top: -1.5%;
}

.about-container p {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 100;
  line-height: 1.3em;
  letter-spacing: 0.01em;
  text-align: left;
  color: #262626;
}

.about-container img {
  width: 42vw;
  margin-top: 2%;
  padding-left: 5%;
}

.about-button {
  text-align: center;
}

.learn-more {
  background-color: #0363a2;
  font-size: 2vw;
  font-weight: 600;
  padding: 1% 2%;
  border-radius: 0.2em;
  color: white;
  margin-bottom: -2%;
}

.learn-more:hover {
  cursor: pointer;
  background-color: #025288;
}

/* services style */

#services {
  background-color: #f3c38e;
  padding-bottom: 5%;
  padding-top: 100px;
  margin-top: -100px;
}

#services h1 {
  margin-bottom: 7%;
  margin-top: -2%;
  text-align: center;
  font-family: "Roboto";
  font-size: 3.5em;
  font-weight: 500;
  color: #262626;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100%;
  justify-content: center;
}

.container-flex > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  margin-top: -2%;
}

.container-flex > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 50%;
}

.services-container-1,
.services-container-2,
.services-container-3,
.services-container-4 {
  margin: 5%;
  background-color: white;
  border-radius: 1%;
}

.services-container-1:hover,
.services-container-2:hover,
.services-container-3:hover,
.services-container-4:hover {
  box-shadow: 0 0 20px gray;
  cursor: pointer;
}

.services-container-1 img,
.services-container-2 img,
.services-container-3 img,
.services-container-4 img {
  margin: auto;
}

.services-container-1 p,
.services-container-2 p,
.services-container-3 p,
.services-container-4 p {
  font-family: "Roboto";
  text-align: center;
  font-size: 2em;
  margin-top: -2%;
}

.services-container-1 img {
  padding: 15%;
}

.services-container-3 img {
  width: 65%;
}

.services-container-1 img,
.services-container-2 img,
.services-container-4 img {
  width: 50%;
}

.services-container-1,
.services-container-3 {
  margin-right: -2%;
}

.services-container-1 p {
  margin-top: -10%;
}

/* contact styles */

#contact {
  padding-bottom: 10%;
  position: relative;
  padding-top: 50px;
  margin-top: -50px;
}

#contact h1 {
  padding-top: 3%;
  text-align: center;
  font-family: "Roboto";
  font-size: 3.5em;
  font-weight: 500;
}

#contact h2 {
  font-size: 1.5rem;
  margin-bottom: 5%;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: "Roboto";
}

/* contact form styles */

#contact form {
  background-color: #0363a2;
  width: 50em;
  display: flex;
  flex-direction: column;
  height: 30em;
  margin: auto;
  padding: 2rem 2rem 5rem;
  border-radius: 0.3rem;
}

#contact label {
  padding: 1rem 0 0.5rem;
}

#name,
#email {
  padding: 2%;
  margin: 0 auto;
  width: 95%;
  font-family: "Roboto";
}

#message {
  min-height: 15rem;
  padding: 2%;
  margin: 0 auto;
  width: 95%;
  font-family: "Roboto";
}

#contact ::placeholder {
  color: gray;
  font-size: 2em;
  font-weight: 500;
}

#submit {
  width: 25%;
  background-color: #f3c38e;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  padding: 2% 2.5%;
  margin: 4% auto;
  border-radius: 0.3em;
  border: 1px solid #f3c38e;
  -webkit-appearance: none;
}

#submit:hover {
  cursor: pointer;
  background-color: #e7b279;
}

.success-modal {
  margin: 0 auto;
  margin-top: -60%;
  display: none;
}

.success-modal img {
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*Will include when I update the site
.error-modal {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 30em;
  left: 30em;
  border: 2px solid black;
  display: none;
}
*/

/*footer styles*/

footer {
  background-color: #f3c38e;
  position: relative;
  padding-bottom: 2%;
}

.up-icon {
  background-color: #0363a2;
  width: 3%;
  margin: auto;
  padding: 1%;
  right: 2%;
  left: 3%;
  top: -8%;
  cursor: pointer;
  position: absolute;
  border-radius: 0.2em;
}

.up-icon img {
  width: 100%;
}

.social-icons {
  text-align: center;
  justify-content: center;
}

.social-icons img {
  margin-top: 5%;
  margin-left: 5%;
}

.social-icons img:hover {
  filter: invert(1);
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  padding: 0.5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -120px;
  font-family: "Roboto";
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#facebook:hover {
  cursor: not-allowed;
}

.copyright img {
  width: 1.5%;
}

.credits {
  margin: 0 auto;
  text-align: center;
  margin-top: 3.5%;
}

.p-1 {
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: 500;
}

.p-2 {
  font-family: "Roboto";
  font-size: 1.1em;
  line-height: 0.4em;
}

.p-2 a {
  color: black;
  text-decoration: none;
}

.p-2 a:hover {
  cursor: pointer;
  color: white;
}

/*animations*/

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*Responsive*/

@media screen and (max-width: 1425px) {
  .nav-menu li {
    margin-left: 43rem;
  }

  header.shrink .nav-menu {
    margin-left: -7rem;
  }

  .about-container img {
    width: 38vw;
  }
}

@media screen and (max-width: 1380px) {
  header.shrink .nav-menu {
    margin-left: -12rem;
  }

  .about-container img {
    width: 34vw;
  }

  .about-container p {
    font-size: 1.7em;
  }

  .learn-more {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1300px) {
  .nav-menu li {
    margin-left: 39rem;
  }

  .nav-menu li > a {
    font-size: 1.3em;
  }

  header.shrink .nav-menu {
    margin-left: -13rem;
  }
}

@media screen and (max-width: 1250px) {
  header.shrink .nav-menu {
    margin-left: -15rem;
  }

  .about-container p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1200px) {
  .nav-menu li {
    margin-left: 36rem;
  }

  header.shrink .nav-menu {
    margin-left: -17rem;
  }
}

@media screen and (max-width: 1185px) {
  header.shrink .nav-menu {
    margin-left: -20rem;
  }
  #about {
    padding-bottom: 15%;
  }
}

@media screen and (max-width: 1125px) {
  .logo h1 {
    font-size: 1.8rem;
  }
  .about-container {
    flex-direction: column-reverse;
  }
  .about-container img,
  .about-container p {
    margin: 0 auto;
    margin-top: 5%;
  }

  .about-container p {
    font-size: 1.8em;
    width: 75vw;
    text-align: center;
  }

  .about-container img {
    width: 65vw;
    padding-left: 0;
  }
}

@media screen and (max-width: 1100px) {
  .nav-menu li {
    margin-left: 30rem;
  }

  header.shrink .nav-menu {
    margin-left: -28rem;
  }
}

@media screen and (max-width: 1000px) {
  .main-nav {
    display: none;
  }

  .drop-down {
    display: block;
  }

  .hero h1 {
    text-align: center;
    margin: none;
    font-size: 4.7rem;
    margin-left: 0;
  }

  header.shrink-mobile {
    display: show;
  }

  /* .services-container-1,
  .services-container-2,
  .services-container-3,
  .services-container-4 {
  
    text-align: center;
    width: 55%;
    flex-direction: column;
    margin-bottom: 5%;
  } */

  @media screen and (max-width: 930px) {
    .logo h1 {
      font-size: 1.6rem;
      margin-top: 8%;
    }

    .learn-more {
    font-size: 1.4rem;
    padding: 1.5% 2.5%;
    }

    #services h1 {
      margin-top: -5%;
    }

    .services-container-4 {
      margin-top: 1%;
    }

    #contact form {
      width: 45em;
    }
  }

  @media screen and (max-width: 860px) {
    #about {
      padding-bottom: 20%;
    }
    .logo {
      width: 50%;
    }
  }

  @media screen and (max-width: 800px) {
    .hero h1 {
      font-size: 4.5rem;
    }
    .logo h1 {
      font-size: 1.4rem;
    }
    .container-flex {
      flex-direction: column;
      align-items: center;
    }
    .container-flex > div {
      width: 55%;
      padding: 1%;
    }
    .services-container-1, .services-container-2, .services-container-3, .services-container-4 {
      margin-bottom: 10%;
    }
    .services-container-1, .services-container-3 {
      margin-left: -2%;
    }
    .services-container-1 img {
      margin-top: -2%;
      width: 50%;
    }
    .services-container-2 img,
    .services-container-4 img {
      margin-top: 10%;
    }
    .services-container-2 p, .services-container-4 p {
      margin-top: 5%;
    }
    #contact form {
      width: 40em;
    }
    #submit {
      width: 35%;
      margin: 6% auto;
    }
    .success-modal {
      margin-top: -75%
    }
    .up-icon {
      width: 5%;
    }
  }

  @media screen and (max-width: 725px) {
    #about {
      padding-bottom: 25%;
    }
    #services h1 {
      margin-top: -10%;
    }
    #contact h1 {
      font-size: 3em;
    }
    #contact form {
      width: 35em;
    }
  }

  @media screen and (max-width: 650px) {
    .hero h1 {
      font-size: 4em;
    }
    .learn-more {
      font-size: 1.3rem;
      padding: 2.5% 3%;
    }
    #contact form {
      width: 30em;
      padding-bottom: 10%s;
    }
    .success-modal {
      margin-top: -80%;
      margin-left: -2%;
    }
    #contact form {
      padding-bottom: 5%;
    }
    #submit {
      margin: 7% auto;
    }
  }

  @media screen and (max-width: 600px) {
    .hero h1 {
      margin-left: 1%;
    }
    #contact ::placeholder {
      font-size: 1.5em;
    }
  }

  @media screen and (max-width: 500px) {
    .hero h1 {
      font-size: 3.5rem;
    }
    #about {
      padding-bottom: 30%;
    }
    #contact form {
      width: 25em;
    }
    .success-modal {
      margin-left: 6%;
    }
    .success-modal img {
      width: 75vw
    }
    #submit {
      width: 40%;
    }
  }

  @media screen and (max-width: 470px) {
    .hero h1 {
      font-size: 3.4rem;
    }
  }

  @media screen and (max-width: 414px) {
  .logo img {
      width: 3.5em;
      height: 3.5em;
  }
  .logo h1 {
    font-size: 1.2em;
  }
  .burger img{
    width: 175%;
    margin-left: 200%;
  }
  .hero img {
    width: 200%
  }
  .hero h1 {
    font-size: 2.3em;
    margin-top: 12%;
  }
  header.shrink {
    margin: -4em 0;
  }
  header.shrink .logo {
    margin-top: 4em;
  }
  header.shrink-mobile .logo img {
    width: 3.5em;
    height: 3.5em;
  }
  header.shrink h1 {
    font-size: 1em;
  }
  header.shrink .burger img {
    width: 150%;
  }
  #about h1 {
    font-size: 2.5em;
  }
  .about-container p {
    font-size: 1.2em;
    text-align: justify;
  }
  .learn-more {
    font-size: 1.3em;
    margin-bottom: 10%;
  }
  #services h1 {
    font-size: 2.5em;
  }
  .services-container-1 p, .services-container-2 p, .services-container-3 p, .services-container-4 p {
    font-size: 1.2em;
  }
  #contact h1 {
    font-size: 2.2em;
    margin-top: -15%;
  }
  #contact h2 {
    font-size: .9em;
    margin-top: -1em;
  }
  #contact form {
    width: 17em;
    height: 18em;
    padding: 10% 5%;
  }
  #contact ::placeholder {
    font-size: 1em;
  }
  #name, #email {
    margin-top: -2em;
  }
  #name {
    margin-bottom: 2em;
  }
  #message {
    min-height: 12em;
  }
  #submit {
    margin-top: 3.5em;
    width: 40%;
    font-size: .3em;
  }
  .success-modal {
    margin-top: -100%;
    margin-left: -4%;
  }
  .social-icons {
    padding-top: 8%;
  }
  .up-icon {
    width: 5%;
    top: -7%
  }
  #facebook, .linkedin{
    width: 8vw;
  }
  .mail{
    width: 9vw;
  }
  .p-1 {
    font-size: 1em;
  }
  .p-2 {
    font-size: .8em;
  }
}

/*
gold
#F3C38E

blue
#0363A2

black
#262626
*/
