html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

/* fixed nav shrink on scroll */

header {
  z-index: 9999;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

/* desktop shrinked nav */

header.shrink {
  margin: -2em 0;
}

header.shrink .logo {
  margin-top: 1.8em;
}

header.shrink h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

header.shrink nav {
  margin-top: 4.5em;
}

header.shrink img {
  width: 15%;
  height: 15%;
}

header.shrink .nav-menu li {
  margin-top: 0;
  margin-left: 58rem;
}

header.shrink .nav-menu li > a {
  font-size: 1.3em;
}

/* mobile shrinked nav */

header.shrink-mobile img {
  width: 200%;
}

header.shrink-mobile .burger {
  margin-top: -1%;
}

header.shrink-mobile .logo-img {
  width: 20%;
  height: 20%;
  margin-top: 0.5%;
}

/* logo styles */

.logo {
  float: left;
  width: 30%;
  cursor: pointer;
}

.logo a {
  display: flex;
  text-decoration: none;
}

.logo img {
  width: 5.2em;
  height: 5.2em;
  padding: 5%;
}

.logo h1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2.1rem;
  letter-spacing: 0.025rem;
  color: #262626;
}

/* desktop nav */

.main-nav {
  margin-top: -0.5%;
}

.nav-menu {
  list-style-type: none;
  font-family: "Roboto";
}

.nav-menu li {
  margin-left: 55rem;
  font-weight: 500;
  margin-top: 4%;
}

.nav-menu li > a {
  text-decoration: none;
  color: #262626;
  margin-right: 4%;
  font-size: 1.5em;
}

.nav-options:hover {
  color: #0363a2;
}

/* mobile nav */

.show {
  display: flex !important;
}

.burger {
  filter: invert(1);
  cursor: pointer;
  margin-right: 5rem;
  margin-top: 4rem;
  float: right;
}

.burger img {
  width: 225%;
  font-weight: 900;
}

.mobile-menu {
  background-color: #f3c38e;
  width: 100%;
  height: auto;
  font-family: "Roboto";
  display: none;
  flex-direction: column;
  right: 0;
  margin-right: 10px;
  margin-top: 60px;
  z-index: 99;
  padding-top: 5%;
}

.mobile-menu a {
  color: #262626;
  text-decoration: none;
  text-align: center;
  font-size: 1.7em;
  font-weight: 700;
  padding-bottom: 5%;
}

.mobile-menu a:hover {
  color: #0363a2;
}

/* hero styles */

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 16%;
  color: white;
  font-size: 4.5rem;
  font-family: "Roboto";
  width: 100%;
  text-align: right;
  margin-left: -3.5%;
  line-height: 1.3em;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

/* about style */

#about {
  padding-bottom: 10%;
  padding-top: 50px;
  margin-top: -50px;
}

#about h1 {
  font-family: "Roboto";
  font-size: 3.5em;
  font-weight: 500;
  margin: 4%;
  text-align: center;
  color: #262626;
}

.about-container {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  margin-top: -1.5%;
}

.about-container p {
  font-family: "Roboto";
  font-size: 2em;
  font-weight: 100;
  line-height: 1.3em;
  letter-spacing: 0.01em;
  text-align: left;
  color: #262626;
}

.about-container img {
  width: 40em;
  height: 28em;
  margin-top: 5%;
  padding-left: 5%;
}

.learn-more {
  margin-left: 33rem;
  background-color: #0363a2;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: -100%;
  border-radius: 0.2em;
}

.learn-more:hover {
  cursor: pointer;
  background-color: #025288;
}

/* services style */

#services {
  background-color: #f3c38e;
  padding-bottom: 5%;
  padding-top: 100px;
  margin-top: -100px;
}

#services h1 {
  margin-bottom: 7%;
  margin-top: 1%;
  text-align: center;
  font-family: "Roboto";
  font-size: 3.5em;
  font-weight: 500;
  color: #262626;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100%;
  justify-content: center;
}

.container-flex > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  margin-top: -2%;
}

.container-flex > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 50%;
}

.services-container-1,
.services-container-2,
.services-container-3,
.services-container-4 {
  margin: 5%;
  background-color: white;
  border-radius: 0.5%;
}

.services-container-1:hover,
.services-container-2:hover,
.services-container-3:hover,
.services-container-4:hover {
  box-shadow: 0 0 20px gray;
  cursor: pointer;
}

.services-container-1 img,
.services-container-2 img,
.services-container-3 img,
.services-container-4 img {
  width: 45%;
  margin: auto;
}

.services-container-1 p,
.services-container-2 p,
.services-container-3 p,
.services-container-4 p {
  font-family: "Roboto";
  text-align: center;
  font-weight: 500;
  font-size: 2.1em;
  margin-top: -2%;
}

.services-container-1 img {
  padding: 15%;
}

.services-container-3 img {
  width: 65%;
}

.services-container-1,
.services-container-2 img,
.services-container-4 img {
  width: 50%;
}

.services-container-1,
.services-container-3 {
  margin-right: -2%;
}

.services-container-1 p {
  margin-top: -10%;
}

#contact {
  padding-bottom: 10%;
  position: relative;
  padding-top: 50px;
  margin-top: -50px;
}

#contact h1 {
  padding-top: 3%;
  text-align: center;
  font-family: "Roboto";
  font-size: 3.5em;
  font-weight: 500;
}

#contact h2 {
  font-size: 1.5rem;
  margin-bottom: 5%;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: "Roboto";
}

#contact form {
  background-color: #0363a2;
  width: 50em;
  display: flex;
  flex-direction: column;
  height: 30em;
  margin: auto;
  padding: 2rem 1rem 3rem;
  border-radius: 0.2rem;
}

#contact label {
  padding: 1rem 0 0.5rem;
}

#name,
#email {
  padding: 2%;
  margin: 0 auto;
  width: 95%;
}

#subject {
  min-height: 15rem;
  padding: 2%;
  margin: 0 auto;
  width: 95%;
}

#contact ::placeholder {
  color: gray;
  font-size: 2em;
  font-weight: 500;
}

#submit {
  width: 21%;
  background-color: #f3c38e;
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 2% 3%;
  margin: 2% auto;
  border-radius: 0.1em;
  border: 1px solid #f3c38e;
}

#submit:hover {
  cursor: pointer;
}

footer {
  background-color: #f3c38e;
  position: relative;
  padding-bottom: 2%;
}

.up-icon {
  background-color: #0363a2;
  width: 3%;
  margin: auto;
  padding: 1%;
  right: 0;
  left: 0;
  top: -9%;
  cursor: pointer;
  position: absolute;
  border-radius: 0.2em;
}

.social-icons {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 5%;
}

.social-icons img {
  width: 5;
  margin-top: 6%;
  margin-left: 5%;
}

.social-icons img:hover {
  filter: invert(1);
  cursor: pointer;
}

.copyright img {
  width: 1.5%;
}

.credits {
  margin: 0 auto;
  text-align: center;
  margin-top: 3.5%;
}

.p-1 {
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: 500;
}

.p-2 {
  font-family: "Roboto";
  font-size: 1.1em;
  line-height: 0.4em;
}

/*animations*/

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*Responsive*/

@media screen and (max-width: 1425px) {
  .nav-menu li {
    margin-left: 43rem;
  }
}

@media screen and (max-width: 1300px) {
  .nav-menu li {
    margin-left: 43rem;
  }

  .nav-menu li > a {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1200px) {
  .nav-menu li {
    margin-left: 35rem;
  }
}

@media screen and (max-width: 1100px) {
  .nav-menu li {
    margin-left: 30rem;
  }
}

@media screen and (max-width: 1000px) {
  .main-nav {
    display: none;
  }
  .hero h1 {
    text-align: center;
    margin: none;
    font-size: 4.7rem;
  }
  .about-container p {
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
  .hero h1 {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 500px) {
  .hero h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 470px) {
  .hero h1 {
    font-size: 3.8rem;
  }
}

@media screen and (max-width: 410px) {
  .hero h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  .drop-down {
    display: none;
  }
}

/* @media screen and (max-width: 410px) {
  .hero h1 {
    font-size: 3.5rem;
  }
} */

/*
gold
#F3C38E

blue
#0363A2

black
#262626
*/
